@{
    Layout = "~/Areas/Usuario/Views/Shared/_UsuarioLayout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb m-b-0">
        <li><a href="@Url.Action("Index",  "Home", new { Area = "Usuario" })">Dashboard</a></li>
        <li><a href="@Url.Action("Tema",  "Home", new { Area = "Usuario" })">Gramática</a></li>
        <li><a href="@Url.Action("Subtema",  "Home", new { Area = "Usuario" })">Cortesia, disculpas y felicitaciones</a></li>
        <li>Lorem ipsum dolor sit</li>
        <li class="active">Audio sentences</li>
    </ol>

    <h1 class="page-heading h2">Audio sentences</h1>

    <div class="card">
        <div class="card-block bg-white">
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary btn-circle">
                        <i class="material-icons">hearing</i>
                    </button>
                </div>
                <div class="col-md-3">
                    <h4 style="padding-top: 6px;"><a href="" class="language en off"></a> <a href="" class="language es off"></a></h4>
                </div>
                <div class="col-md-8">
                    <h4 style="padding-top: 6px;">fútbol</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block bg-white">
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary btn-circle">
                        <i class="material-icons">hearing</i>
                    </button>
                </div>
                <div class="col-md-3">
                    <h4 style="padding-top: 6px;"><a href="" class="language en off"></a> <a href="" class="language es off"></a></h4>
                </div>
                <div class="col-md-8">
                    <h4 style="padding-top: 6px;">fútbol</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block bg-white">
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary btn-circle">
                        <i class="material-icons">hearing</i>
                    </button>
                </div>
                <div class="col-md-3">
                    <h4 style="padding-top: 6px;"><a href="" class="language en off"></a> <a href="" class="language es off"></a></h4>
                </div>
                <div class="col-md-8">
                    <h4 style="padding-top: 6px;">fútbol</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block bg-white">
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary btn-circle">
                        <i class="material-icons">hearing</i>
                    </button>
                </div>
                <div class="col-md-3">
                    <h4 style="padding-top: 6px;"><a href="" class="language en off"></a> <a href="" class="language es off"></a></h4>
                </div>
                <div class="col-md-8">
                    <h4 style="padding-top: 6px;">fútbol</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block bg-white">
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary btn-circle">
                        <i class="material-icons">hearing</i>
                    </button>
                </div>
                <div class="col-md-3">
                    <h4 style="padding-top: 6px;"><a href="" class="language en off"></a> <a href="" class="language es off"></a></h4>
                </div>
                <div class="col-md-8">
                    <h4 style="padding-top: 6px;">fútbol</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block bg-white">
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary btn-circle">
                        <i class="material-icons">hearing</i>
                    </button>
                </div>
                <div class="col-md-3">
                    <h4 style="padding-top: 6px;"><a href="" class="language en off"></a> <a href="" class="language es off"></a></h4>
                </div>
                <div class="col-md-8">
                    <h4 style="padding-top: 6px;">fútbol</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block bg-white">
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary btn-circle">
                        <i class="material-icons">hearing</i>
                    </button>
                </div>
                <div class="col-md-3">
                    <h4 style="padding-top: 6px;"><a href="" class="language en off"></a> <a href="" class="language es off"></a></h4>
                </div>
                <div class="col-md-8">
                    <h4 style="padding-top: 6px;">fútbol</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block bg-white">
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary btn-circle">
                        <i class="material-icons">hearing</i>
                    </button>
                </div>
                <div class="col-md-3">
                    <h4 style="padding-top: 6px;"><a href="" class="language en off"></a> <a href="" class="language es off"></a></h4>
                </div>
                <div class="col-md-8">
                    <h4 style="padding-top: 6px;">fútbol</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block bg-white">
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary btn-circle">
                        <i class="material-icons">hearing</i>
                    </button>
                </div>
                <div class="col-md-3">
                    <h4 style="padding-top: 6px;"><a href="" class="language en off"></a> <a href="" class="language es off"></a></h4>
                </div>
                <div class="col-md-8">
                    <h4 style="padding-top: 6px;">fútbol</h4>
                </div>
            </div>
        </div>
    </div>
</div>
