@{
    Layout = "~/Areas/Usuario/Views/Shared/_UsuarioLayout.cshtml";
}

<div class="container-fluid">

    <div class="jumbotron">
        <h4><i class="material-icons text-danger md-36">not_interested</i> Lo sentimos, no tienes acceso a este contenido.</h4>
        <hr/>
        <button type="button" class="btn btn-white">
            <i class="material-icons">home</i>
            <span class="icon-text">Volver a tu Dashboard</span>
        </button>
    </div>

</div>