.rst-header-logo {
    margin: 26px 0 0;
}

@media (max-width: 980px) {
    .rst-header-logo img {
        margin-top: 20px !important;
    }
}

@media (max-width: 660px) {
    .rst-boxinfo {
        bottom: 20px;
    }
}
.rst-boxinfo .rst-postpic-cat {
    background: #39e6ac;
    font-weight: 700;
    padding: 4px 9px;
    text-transform: uppercase;
}

.rst-boxinfo .rst-postpic-cat span{
    color: #fff;
}

.rst-postinfo time, .comment-date, .comment-date i {
    color: #999999;
}

.rst-catbanner-post {
    width: 100%;
}

.rst-item-content {
    margin: 40px 0;
}

.rst-catlist > a {
    text-transform: inherit;
}

.widget.widget_popular > ul > li.active {
    width: 100%;
}

.cloud li{
    display: inline-block;
    margin: 10px;
}

.cloud li.size5 a{
    font-size: 220%;
}

.cloud li.size4 a{
    font-size: 180%;
}

.cloud li.size3 a{
    font-size: 150%;
}

.cloud li.size2 a{
    font-size: 125%;
}

.cloud li.size1 a{
    font-size: 90%;
}