@model EnglishForCoachesWeb.Areas.Publico.Models.ArticuloBaseViewModel

@{
    ViewBag.Title = "About - English for Coaches - englishforcoaches.com";
    Layout = "~/Areas/Publico/Views/Shared/_PublicoLayout.cshtml";
}
<!-- Category Page Content -->
<section id="rst-catcontent">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="rst-section-title rst-section-title-box">
                    <h4>About</h4>
                </div>
            </div>

            <div class="col-sm-6 rst-shortcodeslist">
                <div class="rst-section-title rst-section-title-box">
                    <h3>¿Qué es el blog?</h3>
                </div>
                <p>
                    Son artículos de inglés/español con terminología relativa al fútbol con cinco temas diferentes
                    <ul>
                        <li>The Football Glosary – Terminología futbolística en inglés</li>
                        <li>Idioms related to sport – Expresiones, coloquialismos y refranes del mundo del deporte en general</li>
                        <li>Teacher tips – Pistas gramaticales</li>
                        <li>The language of … - Temas sobre fútbol en el que te incluimos vocabulario sobre ese tema</li>
                        <li>Podcast – Artículos de opinión, entrevistas etc.</li>
                    </ul>
                <p>En cada tema también tienes las “etiquetas” del contenido (“tag”) para que accedas directamente al contenido relacionado.</p>
            </div>

            <div class="col-sm-6">
                <div class="rst-section-title rst-section-title-box">
                    <h3>¿Tengo que registrarme?</h3>
                </div>
                <p>El acceso al blog es gratuito. De momento no hace falta un registro pero como iremos mejorándolo si en un futuro te pedimos un registro será únicamente para enviarte Newsletter y estar en contacto.</p>

                <div class="rst-section-title rst-section-title-box">
                    <h3>¿Qué es plataforma e-learning English for Football?</h3>
                </div>
                <p>Es una plataforma de ingles para profesionales del fútbol. Se precisa usuario y contraseña para acceder. No obstante, este blog contiene material gratuito abierto para todo el mundo.</p>

                <div class="rst-section-title rst-section-title-box">
                    <h3>¿Cómo puedo practicar lo aprendido?</h3>
                </div>
                <p>Poco a poco iremos introduciendo más temario y contenido en el cual la prioridad será incorporar ejercicios de gramática y terminología futbolística para que aprendas más. Mientras, tienes a tu disposición material diverso que encontrarás en <a href="http://englishforfootball.es/">englishforfootball.es</a>.</p>

            </div>
        </div>
        <div class="row">
            <h4>&nbsp;</h4>
            <div class="col-sm-2">
                <div class="rst-section-title rst-section-title-box">
                    <h3>¿Qué tienen en común los 5 temas?</h3>
                </div>
                <p>Las pistas. Siempre figuran al final de cada artículo y son las mismas que aparecen en la plataforma de la RFEF English for Coaches. Si tienes acceso a la plataforma, entonces ya lo conocerás.</p>
            </div>

            <div class="col-sm-2">
                <div class="rst-section-title rst-section-title-box">
                    <img src="~/Content/Publico/images/tomato.jpg" class="center-block" />
                    <h3>AQUÍ HAY TOMATE</h3>
                </div>
                <p>Como su expresión en castellano indica aquí verás trucos del inglés.</p>
            </div>

            <div class="col-sm-2">
                <div class="rst-section-title rst-section-title-box">
                    <img src="~/Content/Publico/images/sabias.jpg" class="center-block" />
                    <h3>¿SABÍAS QUE...?</h3>
                </div>
                <p>¿Quién no es curioso? Pues aquí podrás ver datos curiosos. Leyendo estas historias curiosas aprenderás mucho vocabulario. A ver si consigues que se encienda tu lucecita...</p>
            </div>

            <div class="col-sm-2">
                <div class="rst-section-title rst-section-title-box">
                    <img src="~/Content/Publico/images/truco.jpg" class="center-block" />
                    <h3>TRUCO O TRATO</h3>
                </div>
                <p>Frase de Halloween, trick or treat, truco o trato, o una cosa o la otra. ¿Qué tenemos aquí? Aquí vemos y comparamos palabras con varios significados y que pueden llegar a confundirnos.</p>
            </div>

            <div class="col-sm-2">
                <div class="rst-section-title rst-section-title-box">
                    <img src="~/Content/Publico/images/cracks.jpg" class="center-block" />
                    <h3>INGLÉS PARA CRACKS</h3>
                </div>
                <p>Es para que hables inglés como un auténtico cracks leyendo y entendiendo el porqué de muchos dichos ingleses, refranes, proverbios etc...</p>
            </div>

            <div class="col-sm-2">
                <div class="rst-section-title rst-section-title-box">
                    <img src="~/Content/Publico/images/quotes.jpg" class="center-block" />
                    <h3>FRASES CÉLEBRES</h3>
                </div>
                <p>Las “quotes” es decir, frases celebres en español y en inglés para que puedas comparar las traducciones y aprendas vocabulario.</p>
            </div>

        </div>
    </div>
</section>
<!-- End Category Page Content -->