<div class="card">
    <div class="card-header bg-white p-a-1">
        <div class="media">
            <div class="media-left media-middle">
                <h4 class="m-b-0">
                    <strong id="audioSentence_mostrarNPregunta"></strong>
                </h4>
            </div>
            <div class="media-body  media-middle">
                <span class="btn btn-primary btn-circle pull-xs-left" onclick="document.getElementById('audio_sentence').play();">
                    <i class="material-icons">hearing</i>
                </span>
                <audio id="audio_sentence">
                    <source src="" id="audioSentence_audio_source" type="audio/mpeg" />
                </audio>
                <h4 class="card-title" id="audioSentence_hEnunciado"></h4>
            </div>
        </div>
    </div>
</div>