
<div class="card">
    <div class="card-header bg-white p-a-1">
        <div class="media">
            <div class="media-left media-middle">
                <h4 class="m-b-0">
                    <strong id="fillTheGap_mostrarNPregunta"></strong>
                </h4>
            </div>
            <div class="media-body  media-middle">
                <h4 class="card-title" id="fillTheGap_hEnunciado"></h4>
            </div>
        </div>
    </div>
</div>