@{
    ViewBag.Title = "Check the email to reset the password";
}



<!-- Reminder Content -->
<div class="content overflow-hidden">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <!-- Reminder Block -->
            <div class="block block-themed animated fadeIn">
                <div class="block-header bg-primary">
                    <ul class="block-options">
                        <li>
                            <a href="@Url.Action("Login", "Account", new { Area = "Admin" })" data-toggle="tooltip" data-placement="left" title="Log In"><i class="si si-login"></i></a>
                        </li>
                    </ul>
                    <h3 class="block-title">Forgot password?</h3>
                </div>
                <div class="block-content block-content-full block-content-narrow">
                    <!-- Reminder Title -->
                    <h1 class="h2 font-w600 push-30-t push-5">English for Football</h1>
                    <p>Check the email to reset the password.</p>
                    <!-- END Reminder Title -->
                    <!-- Reminder Form -->
                    <!-- jQuery Validation (.js-validation-reminder class is initialized in js/pages/base_pages_reminder.js) -->
                    <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                  
                    <!-- END Reminder Form -->
                </div>
            </div>
            <!-- END Reminder Block -->
        </div>
    </div>
</div>
<!-- END Reminder Content -->


@section Scripts {
    @Scripts.Render("~/bundles/appjs")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalization")

}
